<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://function-app-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ccb5d699-6909-4459-81af-36bf8e3a3dc8/resourceGroups/.netSystemUtv/providers/Microsoft.Web/sites/function-app-Api</ResourceId>
    <UserName>$function-app-Api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://function-app-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>